doctype html
head
  meta(charset='utf-8')
  meta(name='description', content='A timeline of Tor related events')
  meta(name='author', content='Brian Shumate')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Tor Timeline
  link(rel='apple-touch-icon-precomposed', sizes='57x57', href='/img/apple-touch-icon-57x57.png')
  link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/img/apple-touch-icon-114x114.png')
  link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/img/apple-touch-icon-72x72.png')
  link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/img/apple-touch-icon-144x144.png')
  link(rel='apple-touch-icon-precomposed', sizes='60x60', href='/img/apple-touch-icon-60x60.png')
  link(rel='apple-touch-icon-precomposed', sizes='120x120', href='/img/apple-touch-icon-120x120.png')
  link(rel='apple-touch-icon-precomposed', sizes='76x76', href='/img/apple-touch-icon-76x76.png')
  link(rel='apple-touch-icon-precomposed', sizes='152x152', href='/img/apple-touch-icon-152x152.png')
  link(rel='icon', type='image/png', href='/img/favicon-196x196.png', sizes='196x196')
  link(rel='icon', type='image/png', href='/img/favicon-96x96.png', sizes='96x96')
  link(rel='icon', type='image/png', href='/img/favicon-32x32.png', sizes='32x32')
  link(rel='icon', type='image/png', href='/img/favicon-16x16.png', sizes='16x16')
  link(rel='icon', type='image/png', href='/img/favicon-128.png', sizes='128x128')
  meta(name='application-name', content='TOR TIMELINE')
  meta(name='msapplication-TileColor', content='#000000')
  meta(name='msapplication-TileImage', content='/img/mstile-144x144.png')
  meta(name='msapplication-square70x70logo', content='/img/mstile-70x70.png')
  meta(name='msapplication-square150x150logo', content='/img/mstile-150x150.png')
  meta(name='msapplication-wide310x150logo', content='/img/mstile-310x150.png')
  meta(name='msapplication-square310x310logo', content='/img/mstile-310x310.png')
  link(rel='stylesheet', href='/css/foundation-icons.css')
  link(rel='stylesheet', href='/css/timeline.css')
  link(rel='stylesheet', href='/css/site.css')
body
  header
    .top-bar
      .top-bar-left
        ul.menu
          li.menu-text
            a(href='/')
              i.fi-clock  TOR TIMELINE
      .top-bar-right
        ul.menu
          li
            a.button.hollow(href='#' data-open='explanation')
              i.fi-info
              | What?
  .row.large-12.columns
    div#tor-timeline.tor-timeline.text-center
  #explanation.reveal.large(data-reveal='')
   .media-object
   .media-object-section
    .thumbnail
     img(src='/img/Onion-skin.png', alt='Tor logo')
   .media-object-section
    h4 What is this?
    p
     | This is a timeline of significant activities and events related to Tor software, the Tor network, and the Tor Project; it includes things like:
     ul.things
      li
        i.fi-check.darkgray  Conference talks
      li
        i.fi-check.darkgray  News events
      li
        i.fi-check.darkgray  Published papers
   button.close-button(data-close='', aria-label='Close reveal', type='button')
    span(aria-hidden='true')
     i.fi-x
  footer
    .row
      .large-12.columns
       p.text-center Made with
        span.love  ♥ 
        | in North Carolina by 
        a(href='http://brianshumate.com/')  Brian Shumate
  //-script(type='text/javascript', src='/js/vendor/jquery-2.1.4.js')
  //-script(type='text/javascript', src='/js/vendor/foundation.js')
  //-script(type='text/javascript', src='/js/vendor/timeline.js')
  script(type='text/javascript', src='/js/main.min.js')
  script.
    $(document).foundation();
  script.
    (function(){
    var t,i,e,n=window,o=document,a=arguments,s="script",r=["config","track","identify","visit","push","call"],c=function(){var t,i=this;for(i._e=[],t=0;r.length>t;t++)(function(t){i[t]=function(){return i._e.push([t].concat(Array.prototype.slice.call(arguments,0))),i}})(r[t])};for(n._w=n._w||{},t=0;a.length>t;t++)n._w[a[t]]=n[a[t]]=n[a[t]]||new c;i=o.createElement(s),i.async=1,i.src="//static.woopra.com/js/w.js",e=o.getElementsByTagName(s)[0],e.parentNode.insertBefore(i,e)
    })("woopra");
    woopra.config({
    domain: 'tor-timeline.brianshumate.com',
    idle_timeout: 1800000
    });
    woopra.track()
